parameters:
    paths:
        - app
        - database
        - routes
        - tests

    level: 5

#    ignoreErrors:
#        - '#PHPDoc tag @var#'

    excludePaths:
        - bin/*
        - vendor/*

#    checkMissingIterableValueType: false